ul {
	padding: 0;
}
/* general styles */
.button {
	display: inline-block;
	width: 65px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	font-size: 45px;

	color: black;
	border: 1px solid #bbb;
	border-radius: 5px;
	background: #eee;
}
.button.active {
	background: #aaa;
}

/* Mode selector for the interface */
#mode {
	text-align: center;
	margin: 10px;
}
#mode a {
}

#movies {
	list-style-type: none;
}
#movies li {
	float: left;
	width: 200px;
	text-align: center;
}
#movies li img {
	max-width: 180px;
	max-height: 180px;
	display: block;
	margin: 0 auto;
}

/* Season selector (horizontal list at /tv-shows/show-slug) */
.series-season {
	list-style-type: none;
	white-space: nowrap;
	overflow: auto;
}
.series-season li {
	display: inline-block;
	width: 175px;
}
.series-season li img {
	width: 100%;
}

/* Episode selector (vertical list under /tv-shows/show-slug season selector) */
.series-episodes {
	list-style-type: none;
}
.series-episodes li {
	height: 60px;
	line-height: 60px;
}
.series-episodes li img {
	height: 100%;
	vertical-align: middle;
}

/* remote */
.subtitles {
	margin: 20px 0;
}
.subtitles .button {
	width: auto;
	height: auto;
	line-height: 22px;
	font-size: 15px;
}
