// Top navigation
@import "_mixins.scss";

#top-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: stretch;

	height: $navigation-height;

	a {
		display: inline-block;
		line-height: $navigation-height;
		width: 40px;
		text-align: center;

		color: white;
		font-size: 200%;

		&.active {
			color: blue;
		}
	}
}
