$background-color: #262626;
$text-color: #fafafa;
$link-color: #429abe;

$button-text-color: #fafafa;
$button-background: #6f6f6f, #606060;
$button-active-background: #505050, #5f5f5f;

$now-playing-background-color: #3a3a3a;

body {
	background: $background-color;
	color: $text-color;
}
a {
	color: $link-color;
	text-decoration: none;
}
@import "theme/dark/button";
@import "theme/dark/remote";
@import "theme/dark/videolibrary/nav";
@import "theme/dark/videolibrary/movies";
@import "theme/dark/videolibrary/tvshows";
