$site-width: 500px;
$site-spacing: 6px;
$navigation-height: 60px;
$player-status-height: 24px;

$icon-size: 24px;

$remote-button-size: 46px;
$remote-button-spacing: 8px;

$movie-poster-spacing: 5px;
$movie-poster-width: 175px;

@mixin at-width($min-width: 0, $max-width: null) {
	@if ($min-width > 0) {
		@if ($max-width == null) {
			@media only screen and (min-width: $min-width) {
				@content;
			}
		} @else {
			@media only screen and (min-width: $min-width) and (max-width: $max-width) {
				@content;
			}
		}
	} @else if ($max-width != null) {
		@media only screen and (max-width: $max-width) {
			@content;
		}
	}
}

@mixin small-screen {
	@media only screen and (max-width: $site-width) {
		@content;
	}
}

@mixin large-screen {
	@media only screen and (min-width: $site-width) {
		@content;
	}
}

@mixin scroll($x: true, $y: true, $always: false) {
	$val: if($always == true, scroll, auto);
	@if ($x == true and $y == true) {
		overflow: $val;
		-webkit-overflow-scrolling: touch;
	} @else if ($x == true) {
		overflow: $val;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	} @else if ($y == true) {
		overflow: $val;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
}
