// Styles for the Movie selection display
@import "_mixins.scss";

#movie-view {
	overflow: hidden;

	padding: $site-spacing;

	.movie--poster {
		max-height: 400px;

		@include small-screen {
			display: block;
			margin: 0 auto;
		}
		@include large-screen {
			float: left;
			margin: 0 20px 0 0;
		}
	}

	.movie--title {
		font-size: 30px;

		@include small-screen {
			text-align: center;
		}
	}
}
