@import "compass/css3/transition";
@import "compass/css3/opacity";

#now-playing {
	text-align: left;
	margin: 8px 0;
	height: 16px;
	padding: 5px;

	line-height: 16px;

	z-index: 999;

	@include opacity(0);
	@include single-transition(opacity, 200ms, ease);

	.playtime {
		float: right;
	}

	.status {
		vertical-align: baseline;
	}

	&.active {
		@include opacity(1);
	}

}
