@import "compass/css3/transition";
@import "compass/css3/opacity";

#now-playing {
	position: fixed;
	top: 76px;
	left: 0;
	right: 0;
	height: 16px;
	padding: 5px;

	line-height: 16px;

	z-index: 999;

	@include opacity(0);
	@include single-transition(opacity, 200ms, ease);

	.playtime {
		float: right;
	}

	* {
		vertical-align: middle;
	}
	.status {
		vertical-align: baseline;
	}

	&.active {
		@include opacity(1);
	}

}
