@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/inline-block";

#remote {
	@include box-sizing(border-box);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 102px;
	min-height: 102px;
	text-align: center;
	overflow: hidden;

	z-index: 1000;

	@include single-transition(height, 750ms, ease);

	&.dragging {
		@include single-transition(none);
	}

	html.touch & {
		height: 113px;
		min-height: 113px;
	}

	#playback-controls {
		margin: 8px;

		.button {
			padding: 0;
			width: 60px;
			height: 60px;
			font-size: 45px;
			@include border-radius(60px);

			&.icon-pause {
				font-size: 37px;
			}
			&.remote {
				float: left;
				font-size: 28px;
				display: none;

				html.no-touch & {
					@include inline-block;
				}
			}
			&.library {
				float: right;
				font-size: 30px;
				display: none;

				html.no-touch & {
					@include inline-block;
				}
			}
		}
	}

	.grip-bar {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 11px;
		background: #444;
		z-index: 1000;
		@include border-radius(0 0 5px 5px);
		display: none;

		html.touch & {
			display: block;
		}
	}

	#grippy-grip {
		position: absolute;
		height: 7px;
		width: 16px;
		margin-left: -8px;
		left: 50%;
		bottom: 0;
		border-style: solid;
		border-color: #aaa;
		border-width: 1px 0 1px;
		@include border-radius(2px);
		&::before {
			content: "\23BC";
			vertical-align: top;
			line-height: 7px;
			color: #aaa;
		}
	}

	.arrow {
		width: 0;
		height: 0;
		padding: 0;
		background: transparent;
		border-style: solid;
		border-color: transparent;
		border-width: $remote-button-size;

		&.left {
			border-left-width : 0;
		}
		&.right {
			border-right-width : 0;
		}
		&.up {
			border-top-width : 0;
		}
		&.down {
			border-bottom-width : 0;
		}
	}

	#remote-navigation {
		position: relative;
		height: 200px;
		width: 200px;
		margin: 0 auto;

		.arrow {
			position: absolute;
			&.up {
				top: 0;
				left: 50%;
				margin-left: -$remote-button-size;
			}
			&.down {
				bottom: 0;
				left: 50%;
				margin-left: -$remote-button-size;
			}
			&.left {
				top: 50%;
				left: 0;
				margin-top: -$remote-button-size;
			}
			&.right {
				top: 50%;
				right: 0;
				margin-top: -$remote-button-size;
			}
		}

		.button {
			font-size: 22px;
		}

		.enter,
		.menu,
		.home,
		.stop,
		.back {
			position: absolute;
			width: $remote-button-size;
			height: $remote-button-size;
			@include border-radius(100%);
		}

		.enter {
			top: 50%;
			left: 50%;
			margin-top: -($remote-playback-button-size / 2);
			margin-left: -($remote-playback-button-size / 2);
			width: $remote-playback-button-size;
			height: $remote-playback-button-size;
			@include border-radius(100%);
		}
		.menu {
			top: 0;
			right: 0;
		}
		.back {
			bottom: 0;
			right: 0;
		}
		.home {
			bottom: 0;
			left: 0;
		}
		.stop {
			left: 0;
			top: 0;
		}
	}

	#playback-subtitles {
		padding: 5px 8px;
		font-size: 14px;
		text-align: left;
		@include border-radius(5px);

		fieldset {
			padding: 4px 10px 5px;
			border: 1px solid #ccc;

			legend {
				padding: 0 10px;
			}
		}
	}
}
