#remote {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	text-align: center;
	padding: 8px;

	z-index: 1000;

	.button {
		width: 60px;
		height: 60px;
		font-size: 45px;
		@include border-radius(60px);
	}

	.button.icon-pause {
		font-size: 37px;
	}
}
