@import "compass/css3/border-radius";

.button {
	display: inline-block;
	width: 60px;
	height: 60px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	font-size: 45px;
	vertical-align: middle;

	@include border-radius(60px);
}
