#spinner {
	-webkit-animation : rotate 1s infinite ease-in-out;
	-moz-animation : rotate 1s infinite ease-in-out;
	animation : rotate 1s infinite ease-in-out;
	font-size: 45px;
	width: 45px;
	height: 45px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes rotate {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
