/* Series selector */
#tv-shows {
	li {
		margin: 4px auto;
		display: block;
		text-align: center;

		img {
			max-width: 100%;
		}
	}
}

/* Season selector (horizontal list at the top of /tv-shows/show-slug) */
.season-selector {
	list-style-type: none;
	white-space: nowrap;
	overflow: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;

	li {
		position: relative;
		display: inline-block;
		height: 250px;

		img {
			height: 100%;
		}

		.season-number {
			display: block;
			position: absolute;
			bottom: 4px;
			right: 4px;
			width: 24px;
			height: 24px;
			line-height: 24px;
			text-align: center;
			border-radius: 20px;
			background-color: #ececec;
			box-shadow: inset 0 0 0 2px black;
			font-weight: bold;
		}

		& ~ li {
			margin-left: 3px;
		}
	}
}

/* Episode selector (vertical list under /tv-shows/show-slug season selector) */
.episode-selector {
	list-style-type: none;

	li {
		position: relative;
		height: 60px;
		line-height: 60px;
		margin: 5px 10px;
		overflow: hidden;

		a {
			display: block;
		}

		img {
			float: left;
			height: 100%;
			vertical-align: middle;
		}

		.episode-title {
			display: block;
			margin-left: 120px;
			font-size: 150%;
		}

		.episode-metadata {
			float: right;
			padding: 6px;
			line-height: normal;
			text-align: right;

			.episode-number {
				display: block;
			}
		}
	}
}
