<img class="video-image" alt="{{ title }}" src="{{thumbnail_path thumbnail}}" />
<h3>{{title}}</h3>
<p class="video-plot">{{ plot }}</p>
<ul class="video-cast">
	{{#each cast}}
		<li class="actor">
			<a href="http://www.imdb.com/find?s=nm&q={{querystring name}}"
				class="actor-photo"
				target="_blank">
			{{#if thumbnail}}
				<img alt="{{name}}" src="{{thumbnail_path thumbnail}}" />
			{{/if}}
			</a>
			<a href="http://www.imdb.com/find?s=nm&q={{querystring name}}"
				target="_blank"
				class="name">{{name}}</a>
			{{#if role}}
				<span class="role">as
					<a href="http://www.imdb.com/find?s=ch&q={{querystring role}}"
						target="_blank">{{role}}</a>
				</span>
			{{/if}}
		</li>
	{{/each}}
</ul>
