<div class="buttongroup">
	<button class="button icon-backward" ng-click="decreaseSpeed()"></button>
	<button class="button" ng-class="{ 'icon-play': !isPlaying(), 'icon-pause': isPlaying() }" ng-click="togglePlayPause()"></button>
	<button class="button icon-forward" ng-click="increaseSpeed()"></button>
</div>
<div class="subtitles">
	<label>Subtitles:</label>
	<button class="button"
		ng-click="setSubtitle(null)"
		ng-class="{active: !subtitleEnabled()}">None</button>
	<button class="button"
		ng-repeat="subtitle in subtitles()"
		ng-click="setSubtitle(subtitle)"
		ng-class="{active: (subtitleEnabled() && subtitle.index == currentSubtitle().index)}">{{ subtitle.language }}</button>
</div>
